#loginForm{
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    padding-top: 1vh;
    padding-bottom: 1vh;;
    padding-left: 1vw;
    padding-right: 1vw;
    border: solid;
    border-radius: 10px;
    border-block-color: black;
}

img{
    margin-left: 14vw;
}

button{
    position: center;
}